/*-----------
    GRID CONTAINER
-------------*/

.main-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: calc(100vh - 56px);
  overflow: auto;
}
@media (min-width: 768px) {
  .main-container {
    height: calc(100vh - 72px);
  }
}

.full-container {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 544px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
