.header {
  height: 56px;
  z-index: 1;
  background-color: var(--surface-dp1-color);
}

.header-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__logo {
  width: max-content;
  color: var(--primary-color);
}

.header.shadow-bottom {
  box-shadow: 2px 2px 4px #000;
}

/* .header.border-bottom {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
} */

@media screen and (min-width: 768px) {
  .header {
    height: 72px;
  }
}
