/*-----------
    VARS
-------------*/

:root {
  --color: #fff;
  --primary-color: #009688;
  --primary-color-variant: #00796b;
  --bg-color: rgb(246, 246, 246);
  --surface-dp1-color: #fff;
  --surface-dp2-color: #fff;
  --surface-dp3-color: #fff;
  --font-high-color: rgba(0, 0, 0, 0.87);
  --font-medium-color: rgba(0, 0, 0, 0.6);
  --font-disabled-color: rgba(0, 0, 0, 0.38);
  --border-color: #4f4f4f;
  --disabled-color: rgba(0, 0, 0, 0.42);
  --hover-color: rgba(0, 0, 0, 0.6);
  --error-color: #b00020;
}

[data-theme="dark"] {
  --color: #000;
  --primary-color: #80cbc4;
  --bg-color: #121212;
  --surface-dp1-color: #1d1d1d;
  --surface-dp2-color: #212121;
  --surface-dp3-color: #242424;
  --font-high-color: rgba(255, 255, 255, 0.87);
  --font-medium-color: rgba(255, 255, 255, 0.6);
  --font-disabled-color: rgba(255, 255, 255, 0.38);
  --border-color: #f4f4f4;
  --error-color: #cf6679;
}

/*-----------
    RESET
-------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.mb-16 {
  margin-bottom: 16px;
}
