.list {
  height: 100%;
}

.list__header {
  height: 36px;
  display: flex;
  color: var(--primary-color);
}

.list__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-right: auto;
}

.list__body {
  height: max-content;
  max-height: 78vh;
  overflow-x: hidden;
}

@media screen and (min-width: 992px) {
  .list__body {
    max-height: 72vh;
  }
}
